// Custom Vars
$a-tags: 'a, a:visited';
$a-tags-hover: 'a:active, a:hover';

// Colors
$darkBlue: #2e3032;
$lightGray: #f0f0f0;
$almostWhite: #D7E5F4;
$darkWhite: #e6e6e6;
$lightBlue: #2690db;
$emberOrange: #E77A27;

