@font-face {
  font-family: 'Palanquin';
  font-weight: 100;
  font-style: normal;
  src: url('/assets/fonts/Palanquin-100/Palanquin-100.eot');
  src: url('/assets/fonts/Palanquin-100/Palanquin-100.eot?#iefix') format('embedded-opentype'),
       local('Palanquin Thin'),
       local('Palanquin-100'),
       url('/assets/fonts/Palanquin-100/Palanquin-100.woff2') format('woff2'),
       url('/assets/fonts/Palanquin-100/Palanquin-100.woff') format('woff'),
       url('/assets/fonts/Palanquin-100/Palanquin-100.ttf') format('truetype'),
       url('/assets/fonts/Palanquin-100/Palanquin-100.svg#Palanquin') format('svg');
}

@font-face {
  font-family: 'Palanquin';
  font-weight: 200;
  font-style: normal;
  src: url('/assets/fonts/Palanquin-200/Palanquin-200.eot');
  src: url('/assets/fonts/Palanquin-200/Palanquin-200.eot?#iefix') format('embedded-opentype'),
       local('Palanquin ExtraLight'),
       local('Palanquin-200'),
       url('/assets/fonts/Palanquin-200/Palanquin-200.woff2') format('woff2'),
       url('/assets/fonts/Palanquin-200/Palanquin-200.woff') format('woff'),
       url('/assets/fonts/Palanquin-200/Palanquin-200.ttf') format('truetype'),
       url('/assets/fonts/Palanquin-200/Palanquin-200.svg#Palanquin') format('svg');
}

@font-face {
  font-family: 'Palanquin';
  font-weight: 300;
  font-style: normal;
  src: url('/assets/fonts/Palanquin-300/Palanquin-300.eot');
  src: url('/assets/fonts/Palanquin-300/Palanquin-300.eot?#iefix') format('embedded-opentype'),
       local('Palanquin Light'),
       local('Palanquin-300'),
       url('/assets/fonts/Palanquin-300/Palanquin-300.woff2') format('woff2'),
       url('/assets/fonts/Palanquin-300/Palanquin-300.woff') format('woff'),
       url('/assets/fonts/Palanquin-300/Palanquin-300.ttf') format('truetype'),
       url('/assets/fonts/Palanquin-300/Palanquin-300.svg#Palanquin') format('svg');
}

@font-face {
  font-family: 'Palanquin';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/Palanquin-regular/Palanquin-regular.eot');
  src: url('/assets/fonts/Palanquin-regular/Palanquin-regular.eot?#iefix') format('embedded-opentype'),
       local('Palanquin Regular'),
       local('Palanquin-regular'),
       url('/assets/fonts/Palanquin-regular/Palanquin-regular.woff2') format('woff2'),
       url('/assets/fonts/Palanquin-regular/Palanquin-regular.woff') format('woff'),
       url('/assets/fonts/Palanquin-regular/Palanquin-regular.ttf') format('truetype'),
       url('/assets/fonts/Palanquin-regular/Palanquin-regular.svg#Palanquin') format('svg');
}

@font-face {
  font-family: 'Palanquin';
  font-weight: 500;
  font-style: normal;
  src: url('/assets/fonts/Palanquin-500/Palanquin-500.eot');
  src: url('/assets/fonts/Palanquin-500/Palanquin-500.eot?#iefix') format('embedded-opentype'),
       local('Palanquin Medium'),
       local('Palanquin-500'),
       url('/assets/fonts/Palanquin-500/Palanquin-500.woff2') format('woff2'),
       url('/assets/fonts/Palanquin-500/Palanquin-500.woff') format('woff'),
       url('/assets/fonts/Palanquin-500/Palanquin-500.ttf') format('truetype'),
       url('/assets/fonts/Palanquin-500/Palanquin-500.svg#Palanquin') format('svg');
}

@font-face {
  font-family: 'Palanquin';
  font-weight: 600;
  font-style: normal;
  src: url('/assets/fonts/Palanquin-600/Palanquin-600.eot');
  src: url('/assets/fonts/Palanquin-600/Palanquin-600.eot?#iefix') format('embedded-opentype'),
       local('Palanquin SemiBold'),
       local('Palanquin-600'),
       url('/assets/fonts/Palanquin-600/Palanquin-600.woff2') format('woff2'),
       url('/assets/fonts/Palanquin-600/Palanquin-600.woff') format('woff'),
       url('/assets/fonts/Palanquin-600/Palanquin-600.ttf') format('truetype'),
       url('/assets/fonts/Palanquin-600/Palanquin-600.svg#Palanquin') format('svg');
}

@font-face {
  font-family: 'Palanquin';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/fonts/Palanquin-700/Palanquin-700.eot');
  src: url('/assets/fonts/Palanquin-700/Palanquin-700.eot?#iefix') format('embedded-opentype'),
       local('Palanquin Bold'),
       local('Palanquin-700'),
       url('/assets/fonts/Palanquin-700/Palanquin-700.woff2') format('woff2'),
       url('/assets/fonts/Palanquin-700/Palanquin-700.woff') format('woff'),
       url('/assets/fonts/Palanquin-700/Palanquin-700.ttf') format('truetype'),
       url('/assets/fonts/Palanquin-700/Palanquin-700.svg#Palanquin') format('svg');
}

