// Custom Styles
@import "custom-variables";

html, body, .ember-view {
  height: 100%;
}

body {
  background: $lightGray;

  #{$a-tags} {
    transition: color 0.3s ease;
  }
}

.main {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  z-index: 3;
  background: $darkBlue;
  padding: 20px;
}

.sidebar-sm {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80px;
  z-index: 3;
  background: $darkBlue;
  padding: 25px 5px;
}

.content {
  position: relative;
  height: 100%;
  overflow: scroll;
  z-index: 2;
  background: url("/assets/images/pattern_bkg.png") repeat;
  box-sizing: border-box;
  padding: 20px;
}

.footer {
}

@include media-breakpoint-down(md) {
  .sidebar {
    display: none;
  }
  .sidebar-sm {
    display: block;
  }
  .content {
    margin-left: 80px;
  }
}

@include media-breakpoint-up(md) {
  .sidebar {
    display: block;
  }
  .sidebar-sm {
    display: none;
  }
  .content {
    margin-left: 240px;
  }
}


