.sidebar {

  overflow-y: auto;

  #{$a-tags} {
    color: $almostWhite;
  }

  #{$a-tags-hover} {
    color: $emberOrange;
  }

  .main-logo {
    transition: all 1s ease;

    &:hover {
    }
  }

  .profile-picture {
    margin: 20px auto;
    border: 7px solid $darkWhite;
  }

  .separator {
    border-top: 1px solid rgba($darkWhite, 0.3);
  }

  .description {
    color: $almostWhite;
  }

  .social-media-buttons {
    margin: 20px auto;
    text-align: center;
  }

  .note {
    background: $darkBlue;
    border-top: 1px solid rgba($darkWhite, 0.3);
    text-align: center;
    padding: 20px;
    font-size: small;
    color: $almostWhite;
  }

}
