.sidebar {

  overflow-y: auto;

  #{$a-tags} {
    color: $almostWhite;
  }

  #{$a-tags-hover} {
    color: $emberOrange;
  }

  .main-logo {
    transition: all 0.3s ease;

    &:hover {
      color: $almostWhite;
      text-shadow: 0 0 1px #fff, 0 0 5px $emberOrange, 0 0 10px $emberOrange,
                   0 0 15px $emberOrange, 0 0 20px $emberOrange, 0 0 30px $emberOrange;
    }
  }

  .profile-picture {
    margin: 20px auto;
    border: 7px solid $darkWhite;
  }

  .separator {
    border-top: 1px solid rgba($darkWhite, 0.3);
  }

  .description {
    color: $almostWhite;
  }

  .social-media-buttons {
    margin: 20px auto;
    text-align: center;
  }

  .note-wrap {
    position: fixed;
    bottom: 0;
    margin-left: -25px;
    width: 100%;
    background: $darkBlue;
    border-top: 1px solid rgba($darkWhite, 0.3);

    .note {
      font-size: small;
      padding: 5px;
    }

  }

}
