<div class="card ss-post">
    <div class="card-footer text-muted ss-post-header">
        Feb 01 2016 on Podcast, Intervew
    </div>
    <div class="card-block">
        <h2 class="card-title font-weight-bold">
          {{model.title}}
        </h2>
        <p class="card-text">{{model.text}}</p>
    </div>
</div>
<hr/>

<div class="text-left">
    <ul class="nav nav-inline">
        <li class="nav-item">
            <a class="nav-link" href="#">Previous</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Next</a>
        </li>
    </ul>
</div>