<div class="main">
    <div class="sidebar">
      {{partial 'sidebar'}}
    </div>
    <div class="sidebar-sm">
      {{partial 'sidebar-sm'}}
    </div>
    <div class="content">
      {{outlet}}
    </div>
    <div class="footer">
      {{partial 'footer'}}
    </div>
</div>
